process/WebModule/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProcessObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndActiveTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MouseTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="MouseUseCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="P_Hieght" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="P_Width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartActiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UId" type="xs:int" />
      <xs:element minOccurs="0" name="keyStroke" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessObject" nillable="true" type="tns:ProcessObject" />
  <xs:complexType name="ArrayOfProcessObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessObject" nillable="true" type="tns:ProcessObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessObject" nillable="true" type="tns:ArrayOfProcessObject" />
  <xs:complexType name="ImgObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImgObject" nillable="true" type="tns:ImgObject" />
  <xs:complexType name="ArrayOfProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessInfo" nillable="true" type="tns:ArrayOfProcessInfo" />
  <xs:complexType name="ProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PerKeyStroke" type="xs:double" />
      <xs:element minOccurs="0" name="PerMouseCount" type="xs:double" />
      <xs:element minOccurs="0" name="PercentageMouseTime" type="xs:double" />
      <xs:element minOccurs="0" name="PercentageProcessActiveTime" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
  <xs:complexType name="ArrayOfImgObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImgObject" nillable="true" type="tns:ImgObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImgObject" nillable="true" type="tns:ArrayOfImgObject" />
  <xs:complexType name="ArrayOfApplicationObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationObject" nillable="true" type="tns:ApplicationObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationObject" nillable="true" type="tns:ArrayOfApplicationObject" />
  <xs:complexType name="ApplicationObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exe_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationObject" nillable="true" type="tns:ApplicationObject" />
</xs:schema>