process/WebModule/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6358/Service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="pD" nillable="true" type="q3:ProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertToDBResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="pD" nillable="true" type="q4:ProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="p" nillable="true" type="q5:ProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="p" nillable="true" type="q6:ProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetAllLogsResult" nillable="true" type="q7:ArrayOfProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="scrnShot" nillable="true" type="q8:Bitmap" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="imgObj" nillable="true" type="q9:ImgObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenShotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsWithPercentageCal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dt2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsWithPercentageCalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetLogsWithPercentageCalResult" nillable="true" type="q10:ArrayOfProcessInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getImagesResult" nillable="true" type="q11:ArrayOfImgObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProecss">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProecssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getAllProecssResult" nillable="true" type="q12:ArrayOfProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dt2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getDataByDateResult" nillable="true" type="q13:ArrayOfProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getDataByIdResult" nillable="true" type="q14:ArrayOfProcessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getAllImagesResult" nillable="true" type="q15:ArrayOfImgObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenShotsByDate_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dt2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenShotsByDate_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetScreenShotsByDate_IdResult" nillable="true" type="q16:ArrayOfImgObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetApplicationResult" nillable="true" type="q17:ArrayOfApplicationObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="s" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicationDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dt2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetDataForChartResult" nillable="true" type="q19:ArrayOfKeyValuePairOfstringdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="np" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>